Join the data from Part 1 with the data from Part 2 to create a new dataframe.

In [9]:
import pandas as pd

In [ ]:
#city bikes algira csv
df1 = pd.read_csv('algira.csv')

In [25]:
#foursquare csv
df2 = pd.read_csv('foursquare.csv')

In [26]:
#yelp csv
df3 = pd.read_csv('yelp.csv')

In [31]:
#join df1 and df2
merged_df = pd.merge(df1, df2, on='name', how='outer')

#join result with df3
final_df = pd.merge(merged_df, df3, on='name', how='outer')

print(final_df)

    Unnamed: 0_x                                               name  \
0            NaN                                        3A É de Vez
1            NaN                            Aida M Soares Conceição
2            NaN                     Alcindo J. N. Pereira Monteiro
3            NaN                               Antonio Fidalgo Rosa
4            NaN                         António F Fernandes Virgas
..           ...                                                ...
85           NaN                                           Tecniart
86           NaN                                            Titanic
87           NaN                     Turma dos Desejos - Unipessoal
88           NaN  Venercom, Comércio e Representações de Produto...
89           NaN                           Vânia Lopes - Unipessoal

    longitude  latitude  Unnamed: 0_y                 category_x      lat_x  \
0         NaN       NaN           4.0                        Bar  39.209736
1         NaN       NaN          28.0                       Café  39.209693
2         NaN       NaN          38.0                       Café  39.206780
3         NaN       NaN          44.0                       Café  39.203672
4         NaN       NaN          29.0                   Wine Bar  39.209693
..        ...       ...           ...                        ...        ...
85        NaN       NaN          46.0                   Tea Room  39.213948
86        NaN       NaN           8.0                        Bar  39.213075
87        NaN       NaN          72.0                   Tea Room  39.205583
88        NaN       NaN          16.0  Food and Beverage Service  39.210089
89        NaN       NaN          24.0                   Tea Room  39.209693

       lng_x  Unnamed: 0 category_y  lat_y  lng_y
0  -8.631633         NaN        NaN    NaN    NaN
1  -8.628727         NaN        NaN    NaN    NaN
2  -8.625260         NaN        NaN    NaN    NaN
3  -8.628443         NaN        NaN    NaN    NaN
4  -8.628727         NaN        NaN    NaN    NaN
..       ...         ...        ...    ...    ...
85 -8.622787         NaN        NaN    NaN    NaN
86 -8.620401         NaN        NaN    NaN    NaN
87 -8.619246         NaN        NaN    NaN    NaN
88 -8.629819         NaN        NaN    NaN    NaN
89 -8.628727         NaN        NaN    NaN    NaN

[90 rows x 12 columns]

Provide a visualization that you used as part of your EDA process. Explain the initial pattern or relationship you discoved through this visualization.

In [ ]:
# Import seaborn
import seaborn as sns

# Apply the default theme
sns.set_theme()

# Load an example dataset
tips = sns.load_dataset("tips")

# Create a visualization
sns.relplot(
    data=tips,
    x="total_bill", y="tip", col="time",
    hue="smoker", style="smoker", size="size",
)

# Database

Put all your results in an SQLite3 database (remember, SQLite stores its databases as files in your local machine - make sure to create your database in your project's data/ directory!)

Look at the data before and after the join to validate your data.